@use "../abstracts/variables.scss" as *;
@use "../abstracts/mixin.scss" as *;

body:not(.wp-admin) {
  font-family: $mainFont !important;
  background-color: $bgColor;
  color: #fff !important;
  line-height: 1.2 !important;
}

.container {
  max-width: $lg;
}

.container-fluid {
  max-width: 95%;
  margin: 0 auto;
  padding: 0;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
}

h1.page-title {
  color: $secondColor;
  font-size: rem(32);
  text-transform: uppercase;

  @include maxWidth($xxl) {
    font-size: rem(24);
  }

  @include maxWidth($lg) {
    margin-bottom: 4rem;
    font-size: rem(18);
  }

  @include maxWidth($xs) {
    margin-bottom: 3rem;
  }
}

figcaption {
  color: #fff !important;
}

.page-hero {
  padding: 3rem 0;
}