@use "../abstracts/variables.scss" as *;
@use "../abstracts/mixin.scss" as *;

body:not(.wp-admin) {
  font-family: $mainFont !important;
  background-color: $bgColor;
  color: #fff !important;
  line-height: 1.2 !important;
}

.container {
  max-width: $lg;
}

h1.page-title {
  color: $secondColor;
}

figcaption {
  color: #fff !important;
}

.page-hero {
  padding: 3rem 0;
}